{% extends "base.html" %} {% load static %} {% block body %}

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-15">
      <a href="{% url 'add-department' %}"
        ><button type="button" class="btn btn-light mb-3">
          <span class="material-symbols-outlined">
            add
            </span>
        </button></a
      >     
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Departments</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for department in department_list %}
          <tr>
            <td>{{ department.id }}</td>
            <td>{{ department.name }}</td>
            <td>
              <a href="{% url 'edit-department' pk=department.id %}"
                ><button type="button" class="btn btn-light"><span class="material-symbols-outlined">
                  edit
                  </span></button></a
              >
              <a href="{% url 'delete-department' pk=department.id %}"
                ><button type="button" class="btn btn-light" onclick="confirmDelete('{{ department.name }}', '{{ department.id }}')"><span class="material-symbols-outlined">
                  delete
                  </span></button></a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}
